html {
    box-sizing: border-box;
    font-family: sans-serif;

    /* https://www.nordtheme.com/docs/colors-and-palettes */
    --col-nord0: #2e3440;
    --col-nord1: #3b4252;
    --col-nord2: #434c5e;
    --col-nord3: #4c566a;
    --col-nord4: #d8dee9;
    --col-nord5: #e5e9f0;
    --col-nord6: #eceff4;
}

body {
    box-sizing: inherit;

    background: var(--col-nord0);
    transition: all 0.05s ease;
}

#hierarchy {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30vw;

    border-right: 2px solid var(--col-nord1);
    font-size: medium;

    padding: 5px;

    & >*:first-child { /*toolbar*/
        width: calc(100% + 10px);

        padding: 0;
        margin: -5px -5px 0 -5px;
        display: flex;
        flex-flow: row nowrap;

        & >* { /*all children, should be just buttons*/
            flex: 1;
        }
    }

    & >#zoneList {
        background: red;

        & >.zoneListing {
            font-size: medium;

            display: flex;
            flex-flow: row nowrap;

            & >p {
                display: inline;
            }
        }
    }
}

#field {
    position: absolute;
    top: 0;
    right: 0;
    width: 70vw;
    height: 60vh;

    cursor: move;

    padding: 0;
    overflow: hidden;

    & #fieldImg {
        position: absolute;

        user-select: none;
        box-shadow: 0 0 40px 0 color-mix(in oklab, var(--col-nord0) 100%, black 20%);
    }
    & >div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        box-shadow: inset 0 0 40px 0 color-mix(in oklab, var(--col-nord0) 100%, black 33%); /*vignette*/
    }
}

#properties {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70vw;
    height: 40vh;

    border-top: 2px solid var(--col-nord1);

    padding: 5px;
}

.toolbar {
    font-size: small;
    color: var(--col-nord4);
}

* {
    box-sizing: inherit;
    transition: inherit;
}

button {
    border-radius: 0;
    border: none;
    background: transparent;
    color: inherit;

    padding: 3px;
}
button:hover {
    background: var(--col-nord1);
}
button:active {
    background: var(--col-nord2);
}